// First override some or all individual color variables
$primary: #9867C5; //Iris 
$secondary: #E39FF6; // Lavender 
$success: #5DBB63; //Fern
$info: #311432; //Eggplant
$warning: #67032F; //Jam
$danger: #A1045A; // Magenta
$light: #f8f9fa;
$dark: #343a40;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  // add any additional color below
);